<a href="https://colab.research.google.com/github/ks575575/NewCodingBot/blob/main/game.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.argv[1])

-f

SyntaxError: ignored

In [ ]:
for x in [1,3,4,6]:
    print(x)

1
3
4
6

In [ ]:
for x in range(3,399):
  print(x,x*x,x*x*x)

3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000
11 121 1331
12 144 1728
13 169 2197
14 196 2744
15 225 3375
16 256 4096
17 289 4913
18 324 5832
19 361 6859
20 400 8000
21 441 9261
22 484 10648
23 529 12167
24 576 13824
25 625 15625
26 676 17576
27 729 19683
28 784 21952
29 841 24389
30 900 27000
31 961 29791
32 1024 32768
33 1089 35937
34 1156 39304
35 1225 42875
36 1296 46656
37 1369 50653
38 1444 54872
39 1521 59319
40 1600 64000
41 1681 68921
42 1764 74088
43 1849 79507
44 1936 85184
45 2025 91125
46 2116 97336
47 2209 103823
48 2304 110592
49 2401 117649
50 2500 125000
51 2601 132651
52 2704 140608
53 2809 148877
54 2916 157464
55 3025 166375
56 3136 175616
57 3249 185193
58 3364 195112
59 3481 205379
60 3600 216000
61 3721 226981
62 3844 238328
63 3969 250047
64 4096 262144
65 4225 274625
66 4356 287496
67 4489 300763
68 4624 314432
69 4761 328509
70 4900 343000
71 5041 357911
72 5184 373248
73 5329 389017
74 5476 405224
75 5625 421875
76 5776 438976
77 5929 456533
78 6084 474552
79 6241 493039
80 6400 512000
81 6561 531441
82 6724 551368
83 6889 571787
84 7056 592704
85 7225 614125
86 7396 636056
87 7569 658503
88 7744 681472
89 7921 704969
90 8100 729000
91 8281 753571
92 8464 778688
93 8649 804357
94 8836 830584
95 9025 857375
96 9216 884736
97 9409 912673
98 9604 941192
99 9801 970299
100 10000 1000000
101 10201 1030301
102 10404 1061208
103 10609 1092727
104 10816 1124864
105 11025 1157625
106 11236 1191016
107 11449 1225043
108 11664 1259712
109 11881 1295029
110 12100 1331000
111 12321 1367631
112 12544 1404928
113 12769 1442897
114 12996 1481544
115 13225 1520875
116 13456 1560896
117 13689 1601613
118 13924 1643032
119 14161 1685159
120 14400 1728000
121 14641 1771561
122 14884 1815848
123 15129 1860867
124 15376 1906624
125 15625 1953125
126 15876 2000376
127 16129 2048383
128 16384 2097152
129 16641 2146689
130 16900 2197000
131 17161 2248091
132 17424 2299968
133 17689 2352637
134 17956 2406104
135 18225 2460375
136 18496 2515456
137 18769 2571353
138 19044 2628072
139 19321 2685619
140 19600 2744000
141 19881 2803221
142 20164 2863288
143 20449 2924207
144 20736 2985984
145 21025 3048625
146 21316 3112136
147 21609 3176523
148 21904 3241792
149 22201 3307949
150 22500 3375000
151 22801 3442951
152 23104 3511808
153 23409 3581577
154 23716 3652264
155 24025 3723875
156 24336 3796416
157 24649 3869893
158 24964 3944312
159 25281 4019679
160 25600 4096000
161 25921 4173281
162 26244 4251528
163 26569 4330747
164 26896 4410944
165 27225 4492125
166 27556 4574296
167 27889 4657463
168 28224 4741632
169 28561 4826809
170 28900 4913000
171 29241 5000211
172 29584 5088448
173 29929 5177717
174 30276 5268024
175 30625 5359375
176 30976 5451776
177 31329 5545233
178 31684 5639752
179 32041 5735339
180 32400 5832000
181 32761 5929741
182 33124 6028568
183 33489 6128487
184 33856 6229504
185 34225 6331625
186 34596 6434856
187 34969 6539203
188 35344 6644672
189 35721 6751269
190 36100 6859000
191 36481 6967871
192 36864 7077888
193 37249 7189057
194 37636 7301384
195 38025 7414875
196 38416 7529536
197 38809 7645373
198 39204 7762392
199 39601 7880599
200 40000 8000000
201 40401 8120601
202 40804 8242408
203 41209 8365427
204 41616 8489664
205 42025 8615125
206 42436 8741816
207 42849 8869743
208 43264 8998912
209 43681 9129329
210 44100 9261000
211 44521 9393931
212 44944 9528128
213 45369 9663597
214 45796 9800344
215 46225 9938375
216 46656 10077696
217 47089 10218313
218 47524 10360232
219 47961 10503459
220 48400 10648000
221 48841 10793861
222 49284 10941048
223 49729 11089567
224 50176 11239424
225 50625 11390625
226 51076 11543176
227 51529 11697083
228 51984 11852352
229 52441 12008989
230 52900 12167000
231 53361 12326391
232 53824 12487168
233 54289 12649337
234 54756 12812904
235 55225 12977875
236 55696 13144256
237 56169 13312053
238 56644 13481272
239 57121 13651919
240 57600 13824000
241 58081 13997521
242 58564 14172488
243 59049 14348907
244 59536 14526784
245 60025 14706125
246 60516 14886936
247 61009 15069223
248 61504 15252992
249 62001 15438249
250 62500 15625000
251 63001 15813251
252 63504 16003008
253 64009 16194277
254 64516 16387064
255 65025 16581375
256 65536 16777216
257 66049 16974593
258 66564 17173512
259 67081 17373979
260 67600 17576000
261 68121 17779581
262 68644 17984728
263 69169 18191447
264 69696 18399744
265 70225 18609625
266 70756 18821096
267 71289 19034163
268 71824 19248832
269 72361 19465109
270 72900 19683000
271 73441 19902511
272 73984 20123648
273 74529 20346417
274 75076 20570824
275 75625 20796875
276 76176 21024576
277 76729 21253933
278 77284 21484952
279 77841 21717639
280 78400 21952000
281 78961 22188041
282 79524 22425768
283 80089 22665187
284 80656 22906304
285 81225 23149125
286 81796 23393656
287 82369 23639903
288 82944 23887872
289 83521 24137569
290 84100 24389000
291 84681 24642171
292 85264 24897088
293 85849 25153757
294 86436 25412184
295 87025 25672375
296 87616 25934336
297 88209 26198073
298 88804 26463592
299 89401 26730899
300 90000 27000000
301 90601 27270901
302 91204 27543608
303 91809 27818127
304 92416 28094464
305 93025 28372625
306 93636 28652616
307 94249 28934443
308 94864 29218112
309 95481 29503629
310 96100 29791000
311 96721 30080231
312 97344 30371328
313 97969 30664297
314 98596 30959144
315 99225 31255875
316 99856 31554496
317 100489 31855013
318 101124 32157432
319 101761 32461759
320 102400 32768000
321 103041 33076161
322 103684 33386248
323 104329 33698267
324 104976 34012224
325 105625 34328125
326 106276 34645976
327 106929 34965783
328 107584 35287552
329 108241 35611289
330 108900 35937000
331 109561 36264691
332 110224 36594368
333 110889 36926037
334 111556 37259704
335 112225 37595375
336 112896 37933056
337 113569 38272753
338 114244 38614472
339 114921 38958219
340 115600 39304000
341 116281 39651821
342 116964 40001688
343 117649 40353607
344 118336 40707584
345 119025 41063625
346 119716 41421736
347 120409 41781923
348 121104 42144192
349 121801 42508549
350 122500 42875000
351 123201 43243551
352 123904 43614208
353 124609 43986977
354 125316 44361864
355 126025 44738875
356 126736 45118016
357 127449 45499293
358 128164 45882712
359 128881 46268279
360 129600 46656000
361 130321 47045881
362 131044 47437928
363 131769 47832147
364 132496 48228544
365 133225 48627125
366 133956 49027896
367 134689 49430863
368 135424 49836032
369 136161 50243409
370 136900 50653000
371 137641 51064811
372 138384 51478848
373 139129 51895117
374 139876 52313624
375 140625 52734375
376 141376 53157376
377 142129 53582633
378 142884 54010152
379 143641 54439939
380 144400 54872000
381 145161 55306341
382 145924 55742968
383 146689 56181887
384 147456 56623104
385 148225 57066625
386 148996 57512456
387 149769 57960603
388 150544 58411072
389 151321 58863869
390 152100 59319000
391 152881 59776471
392 153664 60236288
393 154449 60698457
394 155236 61162984
395 156025 61629875
396 156816 62099136
397 157609 62570773
398 158404 63044792

In [ ]:
max(8.999,5.6,-9)

8.999

In [ ]:
dups([2,3,3,3,5,6,77,77,99])

NameError: ignored

In [ ]:
lensort =(['python', 'perl', 'java', 'c', 'haskell', 'ruby'])

In [ ]:
lensort.sort()

In [ ]:
lensort

['c', 'haskell', 'java', 'perl', 'python', 'ruby']

In [ ]:
# finding unique in the list
l=[1,2,3,1,3]
c=[]
for x in l:
    if(l.count(x)==1 and x not in c):
       c.append(x)
    print(c)

[]
[2]
[2]
[2]
[2]

In [ ]:
# program to show duplicates in the list
dups=[1,2,2,2,3,3,4,4,9,8]
s=[]
for i in dups:
  if(dups.count(i)>1 and i not in s):
    s.append(i)
    print(i)

2
3
4

In [ ]:
# write a program to find whether the name is present in the list or not
l=["kavita","Deeksha","pankaj","neelam","khem"]
names=input("enter your name\n")
if (names in l):
       print("name is already present there")
else:
    print("name is not in the list")

enter your name
kavita
name is already present there

In [ ]:
# program to calculate the grade of a student from his marks
marks=int(input("enter marks"))
if (marks <50):
  print("fail")
  if marks >=50:
    print("D")
  elif marks>=60:
       print("C")
  elif marks>=70:
       print("B")
  elif marks<=80:
        print("A")
else:
       print("Excellent")

enter marks97
Excellent

In [ ]:
# write a program to find whether a given post is talking about kavi or not
post=input("enter post\n")
a="kavi"
if a.lower()==post  or a.upper()==post :
  print("this post is talking about kavi")
else:
    print("this post is not talking about kavi ")

enter post
RANI
this post is not talking about kavi

In [ ]:
name=("kavita","pankaj","mummy","papa")
for i in name:
  print(i,end=" is a good person, ")

kavita is a good person, pankaj is a good person, mummy is a good person, papa is a good person,

In [ ]:
d_dict={"name":"kavita",
"gender":"female",
"hired":"yes"
    }
for i,j in d_dict.items():
 print(i,j,end="  is ")

name kavita  is gender female  is hired yes  is

In [ ]:
i=0
while i<10:
  print("yes"+str(i))
  i=i+1
  print('done')

yes0
done
yes1
done
yes2
done
yes3
done
yes4
done
yes5
done
yes6
done
yes7
done
yes8
done
yes9
done

In [ ]:
# print 1 to 50 loop using while loop
# if we want increment then add at the end after print
i=1
while i<=50:    
      print(i,end=' ')
      i=i+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [ ]:
# while loop to print fruits in list
fruits=["banana","carrot","apple","pineapple","guava"]
i=0
while i <len(fruits):
  print(fruits[i],end=" ")
  i=i+1

banana carrot apple pineapple guava

In [ ]:
# for loop to print fruits in list
for f in fruits:
  print(f,end=" ")

banana carrot apple pineapple guava

In [ ]:
# syntax for i in rangge  (start,stop,step range)
for i in range(2,8,2):
  print (i)
else:
      print("bye")

2
4
6
bye

In [ ]:
# use of pass in loops pass means nothing

for lang in range(10):
    if lang == 8:
      break  
    print(lang, end=" ")
    if lang >0:
      pass

0 1 2 3 4 5 6 7

In [ ]:
# printing a table of any number

num=int(input("enter the number\n"))
for i in range(1,11):
  print(str(num) + " X "+str(i) +" = "+str(num*i))

In [ ]:

  # second way of doing this is by using f strings
num=int(input("enter the number\n"))
for i in range(1,11):
  print(f"{num}X{i}={num*i}")

enter the number
7
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70

In [ ]:
# aap list ko directly call nhi kar sakte use for loop iskeliyye
l=["sahni","sohans","Sohini"]
for i in l:
     if (i.startswith("s")):
         print("hello dear "+i)

hello dear sahni
hello dear sohans

In [ ]:
num=int(input("enter the table number"))
i=1
for i in range(1,11):
  print(str(num) +" X "+str(i)+ " = "+ str(num*i))
  i=i+1

enter the table number5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
# here we have used string to print bcoz concatenations can be performed on string
num=int(input("enter table number"))
i=1
while i<11:
   
   print(str(num) + " X "+str(i) +" = "+str(num*i))
   i=i+1

In [ ]:
4//2

2

In [ ]:
num_list=[1,2,3,4,5]
num_list.remove(2)
print(num_list)

[1, 3, 4, 5]

In [ ]:
# program to find whether the number is prime or not.
num=int(input("enter the number\n"))
if i>1:               # 1 is not a prime number
  prime=True

for i in range(2,num):
       if(num%i==0):                 # if a number has only two factors =prime e.g 2X1 is prime
         prime=False                     # modulo operator gives the remainder if remainder ==0 then not prime
         break
if prime:
    print("this is a prime number")
else:
    print("this is not a prime number")

enter the number
4
this is not a prime number

In [ ]:
# natural numbers starts from 1(whole number=0)
n=int(input("enter a number"))
i=1
sum = 0
for n in range(1,n+1):
  while i<n:
   sum =sum+n

print ('The sum of the natural numbers is: ', sum)

enter a number1

In [ ]:
# printing factorial of a number
num=int(input("enter the number"))
factorial=1
for i in range(1,num+1):          # num+1 is bcoz range takes value as (1,last-1)
   factorial = factorial * i
   print(str(factorial))

In [ ]:
# printing stars
for i in range(5):
  print("*"* (i+1))

In [ ]:
# printing stars in distinct pattern
n=3
for i in range(3):
  print(" " * (n-i-1),end=" ")   # will give space before star
  print("*" * (2*i+1),end=" ")   # will give one star when i=0and star =3 when i=1 in next iteration
  print(" " * (n-i-1))           # will give space  after star here

In [ ]:
num=int(input("enter the table number"))
i=1
for i in reversed(range(1,10)):
  print(str(num) +" X "+str(i)+ " = "+ str(num*i))
  i=i+1

enter the table number3
3 X 10 = 30
3 X 9 = 27
3 X 8 = 24
3 X 7 = 21
3 X 6 = 18
3 X 5 = 15
3 X 4 = 12
3 X 3 = 9
3 X 2 = 6
3 X 1 = 3

In [ ]:
def volume(length,breadth,height):
  return length*breadth*height

In [ ]:
volume(3,5,7)

105

In [ ]:
# defining functions
def greet():
  print("Good Day")

In [ ]:
# calling function
greet()

Good Day

In [ ]:
# giving default value '''here we have given stranger as default value'''
def greet3(name="stranger"):
  print("hii"+"  "+ name)

In [ ]:
greet3("kavi")

hii  kavi

In [53]:

# factorial example
def fact_iter(n):
  n=0
  factorial =1
  for i in range(1,n+1):          # num+1 is bcoz range takes value as (1,last-1)
   factorial = factorial * i
   return(factorial)

In [69]:
import math

In [62]:
f= factorial_iter(5)
print(f)

5

In [ ]:
n=int(input("enter number"))
def factorial_iter(n):
 factorial=1
if n>=1:
 for i in range(n):
  factorial = factorial *i
  print(factorial)

In [74]:
def fact_itera(n):
 n = input("Enter a number: ")
factorial = 1
if int(n) >= 1:
   for i in range (1,int(n)+1):
   factorial = factorial * i
      return(factorial)

Factorial of  5  is :  120

In [75]:
fact_itera(5)

Enter a number: 5

In [ ]:
def fact_rec(n):
  return n
  f= fact_rec(5)
  print(f)

In [ ]:
print(5)

5

In [8]:
def fact_recur(n):
  if n==1 or n==0 :
    return 1
  else:
    return n* fact_recur(n-1)

In [10]:
f= fact_recur(5)
print(f)

120

In [31]:
def fibonn_series(n):
  if n<=0:
    print("wrong number")
  elif n==1:
      return 0
  elif n==2:
        return 1
  else:
        j= (fibonn_series(n-1)+ fibonn_series(n-2))
        return j

In [34]:
fibonn_series(9)

21

In [76]:
# Using function print greatest of three numbers
def max_number(num1,num2,num3):
 if num1>num2:
    if num1>num3:
         return num1
    else:
          return num3
 else:
    if num2>num3:
        return num2
    else:
         return num3

In [77]:
max_number(4,78,9)

78

In [88]:
# using function to convert fahrenheit to celsius
def fahr(cel):
  return(cel*(9/5)) +32
  f=fahr(cel)
  print(str(f))

In [91]:
fahr(0)

32.0

In [93]:
# how to prevent print function to take a new line
print("hello",end=" ")
print("hello",end=" ")
print("hello",end=" ")
print("hello",end=" ")

hello hello hello hello

In [ ]:
# using function sum of n naturalnumbers
def sum_123(n):
     sum= sum*(n-1)+n
sum =0
i=1
for i in range(1,n):
 print(sum(n))

In [101]:
n=6
for i in range(n):
 print("*"*(n-i))

******
*****
****
***
**
*

In [111]:
# removing  a word from string (e.g kavita)and stripping space (as was on LHS and RHS of kavita)
def remove_str(string,word):
  newstr= string.replace(word,"")
  return newstr.strip()
  this="   kavita is a good person   "
  n=remove_str(this,"kavita")
  print(n)

In [112]:
remove_str(this,"kavita")

NameError: ignored

In [33]:
import random

# Snake Water Gun or Rock Paper Scissors
def gameWin(comp, you):
    # If two values are equal, declare a tie!
    if comp == you:
        return None

    # Check for all possibilities when computer chose s
    elif comp == 's':
        if you=='w':
            return False
        elif you=='g':
            return True
    
    # Check for all possibilities when computer chose w
    elif comp == 'w':
        if you=='g':
            return False
        elif you=='s':
            return True
    
    # Check for all possibilities when computer chose g
    elif comp == 'g':
        if you=='s':
            return False
        elif you=='w':
            return True

print("Comp Turn: Snake(s) Water(w) or Gun(g)?")
randNo = random.randint(1, 3) 
if randNo == 1:
    comp = 's'
elif randNo == 2:
    comp = 'w'
elif randNo == 3:
    comp = 'g'

you = input("Your Turn: Snake(s) Water(w) or Gun(g)?")
a = gameWin(comp, you)

print(f"Computer chose {comp}")
print(f"You chose {you}")

if a == None:
    print("The game is a tie!")
elif a:
    print("You Win!")
else:
    print("You Lose!")

Comp Turn: Snake(s) Water(w) or Gun(g)?
Your Turn: Snake(s) Water(w) or Gun(g)?s
Computer chose w
You chose s
You Win!

In [37]:
import random
def gamewin(computer,you):
 # If two values are equal, declare a tie!
    if computer == you:
        return None

    # Check for all possibilities when computer chose s
    elif computer == 's':
        if you=='w':
            return False
        elif you=='g':
            return True
    
    # Check for all possibilities when computer chose w
    elif computer == 'w':
        if you=='g':
            return False
        elif you=='s':
            return True
    
    # Check for all possibilities when computer chose g
    elif computer == 'g':
        if you=='s':
            return False
        elif you=='w':
            return True 
print("computer's turn:You can choose snake(s)or water(w) or gun(g)")
randnumber= random.randint(1,3)
if randnumber==1:
   computer ="s"
elif randnumber==2:
   computer="w"
elif randnumber==3:
    computer="g"
player=input("player's turn: You can choose snake (s) or water (w) or gun (g)")
a=gamewin(computer,you)
print(f"Computer chose {computer}")
print(f"You chose {you}")
if a==None:
  print("this game is a tie.",end= '"Try again to win"')
elif a :
    print("you won this",end='''"Congratulations!!!"''')
else:
       print("You lost",end=''' "Try again to win" ''')

computer's turn:You can choose snake(s)or water(w) or gun(g)
player's turn: You can choose snake (s) or water (w) or gun (g)s
Computer chose w
You chose s
you won this"Congratulations!!!"

NameError: ignored